body{
    background-color: lightblue;
    width: 100%;
    margin: auto;
}
#gioithieu{
    margin-left: 20px;
    font-size: 50px;
    color:lightseagreen;
    text-shadow: 4px 2px 4px;
}
#dndk{
    position: fixed;
    top: 10px;
    right: 30px;
    display: flex;
    width: auto;
    height: 50px;
}
#dn{
    flex:1;
    width: 120px;
    text-align: center;
    margin: 10px;
}
#dk{
    flex:1;
    width: 120px;
    text-align: center;
    margin: 10px;
}
#content{
    display: flex;
    flex:1;
    flex-direction: column;
    width: 100%;
    height: 600px;
    margin:inherit;
    margin-left: auto;
    margin-right: auto;
}
#content button{
    height: 100px;
    margin: 20px;
}
.htdn{
    position:fixed;
    background-color:lavenderblush;
    width:100%;
    height:100%;
    overflow: auto;
    opacity: 0.5;
    z-index: 1;
    display: none;
}
.htdn1{
    position: absolute;
    display:none;
    z-index:2;
    width: 50%;
    height: 50%;
    background-color: aqua;
    top: 100px;
    left: 350px;
    border: solid 3px cadetblue;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.htdn1>div{
    text-align: center;
    padding: 20px;
}
.htdn1>div>div{
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
input{
    width: 300px;
    height: 30px;
    border: solid 2px teal;
    border-radius: 5px;
}
#thoat{
    position: absolute;
    top:0px;
    right: 0px;
}
#tt1{
    font-size: 50px;
    color:lightseagreen;
    text-shadow: 2px 2px 4px;
}
#nutdn{
    width: 120px;
    height: 30px;
    border: solid 2px teal;
    border-radius: 5px;
}
button{
    cursor: pointer;
}
#thoat{
    width: 40px;
    height: 30px;
}
#thoat:hover{
    background-color: red;
    color: white;
}
#khung{
    display: flex;
}
#htContent1, #htContent2, #htContent3, #htContent4,#htContent5{
    position: relative;
    /* border: solid 2px steelblue; */
    border-radius: 5px;
    flex:5;
    margin: 20px;
    display: none;
}
.thoat1{
    position: absolute;
    top: 0px;
    right: 0px;
}
#bangquanli,#quanlibaidang{
    display: flex;
}
#bangquanli div,#quanlibaidang div{
    flex: 1;
    text-align: center;
    border: solid 2px steelblue;
    margin-top:5px ;
    padding: 5px;
}
#quanlichat,#quanlithongbao,#phantichxuhuong{
    border: solid 2px steelblue;
    margin-top:5px ;
    padding: 5px;
}